.icon{
    font-size: 20px;
    color: ffffff;
  }
  .follow-us-icon-container {
    margin: 5px;
  }
  .about-us-page{
    background-color: #75A0DC;
    
    text-align: center;
    color: whitesmoke;

}
.contact-image{
    height: 500px;
}
.navbar-bg-colour{
  background-color: #1C4C97;
}




.gallery-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .footer-icon{
    font-size: 25px;
  }
  .body-contact-section{
    text-align: center;
  }